.header {
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;

    &__logo {
        a {
            font-size: 24px;
            font-weight: 500;
            color: #fff;
            text-decoration: none;
        }
    }
    &__menu, &__account {
        a {
            color: #fff;
            text-decoration: none;
            margin-right: 20px;
            padding: 10px;

            &.active {
                background-color: red;
            }
        }
    }
}
.main {
    padding: 0 80px;
}
.footer {
    background-color: orange;
    padding: 15px 10px;
    text-align: center;
    color: white;
}
