@import "../../index.scss";
.home {
    font-size: 17px;
    &__title {
        p {
            margin-bottom:  30px;
            color: $text-color;
            
        }
    }
    &__hr {
        margin: 20px 0;
    }
    &__content {
        h3 {
            margin-bottom: 20px;
            color: $text-color;
        }
        p {
            margin-bottom: 15px;
            color: $text-color;
        }
    }
}